body {
	background: #333;
}
#textadventure {
	background: #000;
	position: absolute;
	bottom: 0;
	width: 20em;
	height: 20em;
	
	overflow: hidden;
	
  }
  #textadventure p {
 	  color: #aaa;
	  padding: 0 0.5em;
  }
  #textadventure p.input {
  	font-weight: bold;
  }